.benefits__list {
  list-style-type: none;

  padding: 23px 0 46px;
}

.benefits__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.benefits__description {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;

  color: #333333;
}
