.intro__title {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

.intro__reasons,
.intro__description {
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;

  color: #333333;
}

.intro__hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.intro__hero--second {
  height: auto;
  width: 100%;
}

.intro__wrapper-image {
  position: relative;

  height: 389px;
  width: 100%;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    background: #81b3d2 url("../img/back-hero.jpg") no-repeat center / auto 100%;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;

    background: url("../img/intro-triangle.svg") no-repeat center / auto 100%;

    width: 100%;
    height: 57px;
  }
}

.intro__wrapper-image--second {
  height: 157px;
  overflow: hidden;

  &::before {
    background-position: bottom;
    background-size: auto;
    top: 0;
  }
}

@media (max-width: 767px) {
  .intro__hero {
    height: 214px;
  }

  .intro__hero--second {
    height: 39px;
  }
}

@media (min-width: 768px) {
  .intro__wrapper-image {
    height: 518px;
  }

  .intro__wrapper-image--second {
    height: 290px;
  }

  .intro__hero--second {
    height: 78px;
  }
}

@media (min-width: 1200px) {
  .intro__wrapper-image {
    max-width: 1200px;
    margin: 0 auto;
  }
}
