.intro__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.intro__reasons,
.intro__description {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;

  color: #333333;
}
