.reasons-item {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item__wrapper-text {
  width: 100%;
  height: 191px;

  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item__wrapper-text--color {
  padding: 24px 26px;

  background-color: #eeeeee;
  color: #000000;
}

@media (min-width: 768px) {
  .reasons-item__wrapper-text {
    width: 256px;
    max-width: 400px;
    height: 256px;
    flex-grow: 1;
  }

  .reasons-item__wrapper-text--color {
    padding: 41px 33px;
  }
}

@media (min-width: 1200px) {
  .reasons-item__wrapper-text {
    width: 400px;
    height: 256px;
  }

  .reasons-item__wrapper-text--color {
    padding: 52px 50px;
  }
}
