.reasons-item__wrapper-text {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item__wrapper-text--color {
  background-color: #eeeeee;
  color: #000000;
}

.reasons-item__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
}
