.search__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.search__description {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;

  color: #333333;
}

.search__link {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #81b3d2;
}

.search {
  padding: 38px 0 49px;
}
