.reasons-item__wrapper-text {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.reasons-item__wrapper-text--color {
  background-color: #EEEEEE;
  color: #000000;
}

.reasons-item__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
}

.reasons__divider, .reasons__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;

  color: #333333;
}

.wrapper-text {
  padding: 24px 0;
}
