.main-footer__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.main-footer {
  padding: 33px 0;
}
