.main-footer__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.main-footer__text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}


.main-footer {
  padding: 33px 0;
}
