.photo__title,
.photo__like {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;

  color: #000000;
}

.photo__author {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;

  color: #333333;
}
