.photo__list {
  width: 88%;
  margin: 0 auto;
}

.photo__item {
  height: 375px;
  width: auto;
}

.photo__wrapper-image {
  position: relative;
  overflow: hidden;

  height: 280px;
  width: 100%;
}

.photo__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
}

@media (min-width: 648px) {
  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    width: 84%;
    max-width: 1200px;
  }

  .photo__item {
    height: 347px;
    width: 100%;
    max-width: 400px;

    &:first-child {
      height: 480px;
      grid-column: 1 /-1;
      max-width: 1200px;
    }
  }

  .photo__wrapper-image {
    height: 267px;
  }

  .photo__wrapper-image--main {
    height: 400px;
  }

  .photo__image {
    display: block;
    height: auto;
    width: auto;
  }

  .photo__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
  }
}

@media (min-width: 1200px) {
  .photo__list {
    grid-template-columns: 1fr 1fr 1fr;

    width: 94%;
  }
}

.photo__title,
.photo__like {
  margin: 0;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;

  color: #000000;
}

.photo__author {
  margin: 0;

  font-size: 14px;
  line-height: 21px;

  color: #333333;
}
