.video__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;

  color: #000000;
}

.video__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;

  color: #333333;
}
